<div class="container top">
  <app-upload-file (newItemEvent)="setFileFormat($event)"></app-upload-file>
</div>
<div class="container files">
  <mat-card>
    <mat-selection-list #shoes [multiple]="false">
      <h2>Załadowane pliki</h2>
      <mat-list-option *ngFor="let file of fileInfos | async" value="file.name">
        {{file.name}}
      </mat-list-option>
      <hr>
      <mat-form-field appearance="fill">
        <mat-label>Wybierz format</mat-label>
        <mat-select [(value)]="selectedFormat">
          <mat-option *ngFor="let format of formats" [value]="format.value">
            {{format.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field><br>
      <!--<button mat-raised-button color="accent" (click)="openSnackBar('Skonwertowano plik', 'pobierz')">Konwertuj</button>-->
      <button mat-raised-button color="accent" (click)="convertFile()">Konwertuj</button>
    </mat-selection-list>
    <div *ngIf="errorMessage">
      <p>Konwersja na wybrany format jest niedostępna.</p>
    </div>
  </mat-card>
</div>
<div class="container">
<!--  <app-received-file class="results" [htitle]='u' [resT]="receivedFile" [iR]="isGetting"></app-received-file>-->
  <app-received-file class="results" [htitle]="r" [resT]="receivedFile" [iR]="isReceiving"></app-received-file>
</div>
<div class="container">
  <app-history-list class="results"></app-history-list>
</div>
